{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}

        <div class="alert alert-danger" role="alert">

            {{ error.messageKey|trans(error.messageData, 'security') }}

        </div>

    {% endif %}

<div class="center-box">     

    <form action="{{ path('login_check') }}" method="post">

        <input placeholder="NOM" type="text" id="username" name="_username" value="{{ last_username }}" required />

        <input placeholder="MOT DE PASSE" type="password" id="password" name="_password" required />

        <div class="regular-spacer"></div>

        <button class="btn btn-success" type="submit">
            Se connecter&nbsp;&nbsp;
            <span class="glyphicon glyphicon-log-in"></span>
        </button>

    </form>

</div>
{% endblock %}
