{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="center-box special-title">Créer une nouvelle tâche</h1>{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="row center-box">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success">Ajouter</button>
        {{ form_end(form) }}

    </div>

    <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
{% endblock %}