@import '~@neos21/bootstrap3-glyphicons';

body {
  padding-top: 70px;
  letter-spacing: 1px;
}

.main-logo {
  color: rgb(68, 68, 68);
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.5s;
}

.main-logo:hover {
  color: rgb(173, 173, 173);
  transition: 0.5s;
}

@media all and (max-width: 320px) {
  .main-logo {
    font-size: 12px;
  }
}

.openclass-logo {
  filter: grayscale(100%);
}

#paging_links {
  padding-top: 10px;
}

.first_page_link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin: 4px;
}

.next_page_link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 8px;
}

.special-modal-header {
  height: 28px;
  background-color: cornflowerblue;
}

.special-modal-body {
  letter-spacing: 2px;
}

.main-navbar {
  background-color: rgb(197, 217, 255);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-box-user {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.home-task-button {
  width: 200px;
  display: inline-block;
}

.copyright {
  text-align: center;
}

.slide-image {
  width: 100%;
  max-width: 700px;
}

.center-box {
  text-align: center;
}

.special-title {
  font-size: 20px;
}

.special-thumbnail {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #535353;
  border-radius: 20px;
  margin: 8px;
  text-align: center;
}

.special-caption-box {
  height: auto;
  padding: 10px;
}

.special-task-title {
  text-decoration: none;
}

.special-glyph {
  float: right;
}

.regular-spacer {
  height: 10px;
}

.task-infos {
  font-size: 12px;
}

.medium-spacer {
  height: 50px;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.btn {
  border: 0px solid transparent;
  margin: 4px;
}

.btn-primary {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  outline-style: none;
}

.btn-secondary {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  outline-style: none;
}

.btn-success {
  box-shadow: none;
  font-weight: normal;
  background: white;
  color: green;
  border: 1px solid green;
}

.btn-success:hover,
.btn-success:active,
.btn-sucess:visited,
.btn-sucess.focus {
  outline-style: none;
}

.btn-special-success {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.1);
  font-weight: normal;
  background: #198754;
  color: white;
}

.btn-special-success:hover,
.btn-special-success:active,
.btn-special-sucess:visited,
.btn-special-sucess.focus {
  background: #24a066;
  outline-style: none;
  color: white;
}

.btn-danger {
  box-shadow: none;
  font-weight: normal;
  background: white;
  color: red;
  border: 1px solid red;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited {
  outline-style: none;
}

.btn-warning {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited {
  outline-style: none;
}

.btn-info {
  color: white;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  color: white;
  outline-style: none;
}

.btn-light {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-light:hover,
.btn-light:active,
.btn-light:visited {
  outline-style: none;
}

.btn-dark {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:visited {
  outline-style: none;
}

input[type=text] {
  width: 100%;
  max-width: 300px;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

input[type=text]:focus {
  border: 1px solid #555;
}

input[type=search] {
  width: 100%;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

input[type=search]:focus {
  border: 1px solid #555;
}

input[type=password] {
  width: 100%;
  max-width: 300px;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

input[type=password]:focus {
  border: 1px solid #555;
}

input[type=email] {
  width: 100%;
  max-width: 300px;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

input[type=email]:focus {
  border: 1px solid #555;
}

textarea {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  padding: 10px 13px;
  height: 300px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

textarea::-webkit-scrollbar {
  width: 1px;
}

textarea:focus {
  border: 1px solid #555;
}

select {
  width: 100%;
  max-width: 300px;
  padding: 10px 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

select:focus {
  border: 1px solid #555;
}

.back-to-tasks {
  width: 280px;
}

.create-tasks-button {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
  background: cornflowerblue;
  color: white;
}

.create-tasks-button:hover {
  outline-style: none;
  color: white;
  background: rgb(116, 160, 240);
}

.logout-button {
  box-shadow: none;
  background: white;
  color: black;
  position: fixed;
  top: 8px;
  right: 8%;
  width: 200px;
  z-index: 10000;
}

.special-modal-button {
  border: 1px solid rgb(185, 185, 185);
  box-shadow: none;
  background: white;
  color: black;
  position: fixed;
  top: 8px;
  right: 8%;
  width: 200px;
  z-index: 10000;
}

.special-modal-button:hover {
  border: 1px solid cornflowerblue;
  color: white;
  background: rgb(182, 203, 243);
}

@media all and (max-width: 1300px) {
  .logout-button {
    right: 4%;
  }

  .special-modal-button {
    right: 4%;
  }
}

@media all and (max-width: 1200px) {
  .logout-button {
    right: 6%;
  }

  .special-modal-button {
    right: 6%;
  }
}

@media all and (max-width: 1100px) {
  .logout-button {
    right: 4%;
  }

  .special-modal-button {
    right: 4%;
  }
}

@media all and (max-width: 1000px) {
  .logout-text {
    display: none;
  }

  .menu-text {
    display: none;
  }

  .logout-button {
    width: 40px;
    right: 10px;
  }

  .special-modal-button {
    width: 46px;
    right: 10px;
  }
}

@media all and (max-width: 650px) {
  .modal-content {
    margin-top: 70px;
  }

  .back-to-tasks {
    width: 100%;
  }
}

.special-editor ul {
  list-style-type: none;
  color: red;
  font-weight: bold;
}

.special-table tr:hover {
  background: #f1f1f1;
}

@media all and (max-width: 1000px) {
  .special-table th,
  .special-table td {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 4px solid transparent;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .special-table tr {
    border: 4px solid #dcdcdc;
  }

  .special-table-header {
    display: none;
  }
}
